@import "tailwindcss";
@plugin "flowbite/plugin";

@font-face {
  font-family: 'MyCustomFont';
  src: url('../assets/BrilliantSignature-X32WK.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #fafafa;
  --foreground: #1a1a1a;
  --primary1: #03C4FB;
  --primary2: #9A51B8;
  --pastal: #6A75CD;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fafafa;
    --foreground: #1a1a1a;
    --primary1: #03C4FB;
    --primary2: #9A51B8;
    --pastal: #6A75CD;
  }
}

html {
  scroll-behavior: smooth;
  user-select: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito);
  overflow-x : hidden;
}

main {
  min-height: calc(100vh - 60px);
}

i {
  font-family: var(--reenie_beanie);
  text-shadow: 1px 1px 2px var(--primary1), -1px -1px 2px var(--primary2);
}

h1, h2 {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

#signature {
  font-family: 'MyCustomFont';
}

.react-phone-input input:focus {
  outline-offset: 0 !important;
  outline: 2px solid #6b7280 !important;
  box-shadow: none !important;
}

.react-phone-input .selected-flag:hover, .react-phone-input .selected-flag:focus, .react-phone-input .selected-flag.open {
  background-color: transparent !important;
  border-radius: 0.75rem 0 0 0.75rem !important;
}